<div data-participants>
  <div class="participant-rows">
    {% for org in participant_values %}
      <div class="participant-row">
        {% include "orders/_org_combo.html" with name="participant_orgs" value_org=org removable=True %}
      </div>
    {% empty %}
      <div class="participant-row">
        {% include "orders/_org_combo.html" with name="participant_orgs" value_org=None removable=True %}
      </div>
    {% endfor %}
  </div>
  <button type="button" class="btn ghost sm" onclick="addParticipantRow(this)">+ организация</button>
</div>
